<nav>
  <div class="container-fluid">
    
    <div class="content">
      <a class="navbar-brand" href="#">
      <img src="/assets/icons8-e-commerce-66.png" alt="Logo" style="width:50px; height:auto;">E-Commerce
      </a>
      <ul>
        <li routerLink="/products"><img src="/assets/l2.png" alt="Logo" style="width:30px; height:auto;">Products</li>
        <li routerLink="/cart"><img src="/assets/l.png" alt="Logo" style="width:30px; height:auto;">Carts</li>
      </ul>

    </div>
  </div>
</nav>


<div class="image-container">
  <img class="image1" src="/assets/c2.jpg" alt="Image 1">
  <img class="image2" src="/assets/c4.jpg" alt="Image 2">
  
</div>


